<div class="col-sm-12 border border-1" style="height: 30vh; overflow-y: auto;">
    <table id="rptTableNoExport" class="table table-hover" style="font:small">
        <thead>
            <tr>
                <th></th>
                <th>Report Name</th>
            </tr>
        </thead>
        <tbody>
        {% for o in oReports %}
            <tr>
                <td><input type="radio" name="selected_id" value="{{ o.id }}"></td>
                <td><a href="{% url 'reports:report_view' o.unique_name %}">{{o.name}}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>