{% load widget_tweaks %}
{% load crispy_forms_tags %}

<form action="{% url 'Fit4:update_workstream_assethierarchy' form.slug %}" method="POST">
    {% csrf_token %}
    <div class="card shadow mb-2 bg-body rounded">
        <div class="card-header">
            <table>
                <tr>
                    <td>
                        <img src="/media/logo/Asset_Hierarchy.png" alt="" loading="lazy"/>
                    </td>
                    <td>
                        <b>Asset Hierarchy</b>
                    </td>
                </tr>
            </table>
        </div>   
        <div class="card-body">
            <div class="col-sm-12 row">
                <div class="col-sm">
                    <div class="col-sm">
                        Level 1
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.formula_Level_1 class="select form-select" id="formula_Level_1" %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        Level 2
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.formula_Level_2 class="select form-select" id="formula_Level_2" %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        Level 3
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.formula_Level_3 class="select form-select" id="formula_Level_3" %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        Level 4
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.formula_Level_4 class="select form-select" id="formula_Level_4" %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        Functions (Data Filter 1)
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.functions class="select form-select" placeholder="" %}
                    </div>
                </div>

                <div class="col-sm">
                    <div class="col-sm">
                        Saving Type (Data Filter 2)
                    </div>
                    <div class="col-sm">
                        {% render_field assethierarchyForm.SavingType class="select form-select" placeholder="" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button id="save_changes" type="submit" class="btn btn-primary">  <i class="fa fa-save"></i>   Save  </button>
        </div>
    </div>
</form>

<script>
  $(document).ready(function () {
    $('#formula_Level_1').change(function () {
      $.get('/get-level2/', { level1_id: $(this).val() }, function (data) {
        $('#formula_Level_2').html(data.options);
        $('#formula_Level_3').html('<option value="">---------</option>');
        $('#formula_Level_4').html('<option value="">---------</option>');
      });
    });

    $('#formula_Level_2').change(function () {
      $.get('/get-level3/', { level2_id: $(this).val() }, function (data) {
        $('#formula_Level_3').html(data.options);
        $('#formula_Level_4').html('<option value="">---------</option>');
      });
    });

    $('#formula_Level_3').change(function () {
      $.get('/get-level4/', { level3_id: $(this).val() }, function (data) {
        $('#formula_Level_4').html(data.options);
      });
    });
  });
</script>