{% autoescape off %}
Hi {{ user.get_full_name }},

You requested a password reset for your account.

Click the link below to set a new password:

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

If you didn’t make this request, you can ignore this email.

{% if protocol == "https" %}
{% comment %} <p><strong>Note:</strong> If the link above starts with <code>https://</code>, please change it to <code>http://</code> in your browser before proceeding.</p> {% endcomment %}
Note: If the link above starts with https://, please change it to http:// in your browser before proceeding.
{% endif %}

Thanks,  
Your EnhanceX Team
{% endautoescape %}