{% load i18n %}
{% load static %}
{% comment %} {% load ads_tags %} 
{% load my_tags %}{% endcomment %}

<footer class="bg-light text-center border fixed-bottom">
  <!-- Copyright -->
  {% comment %} <div class="text-center p-3">
    <small>© 2024 Copyright:
    <b><a href="/">EnhanceX</a></b><span>  All rights reserved. 
    Support Contact: <a href="mailto:Isaac.Bejide@spnigeria.com">Isaac.Bejide@spnigeria.com</a> +234 807 022 4772</small>
  </div> {% endcomment %}
  <div class="row col-sm-12 p-3">
    <div class="col-sm">
      <small>© 2025 Copyright: <b><a href="/">EnhanceX</a></b><span>  All rights reserved.</small>
    </div>
    <div class="col-sm pull-right">
      <small>Support Contact: <a href="mailto:Isaac.Bejide@spnigeria.com">Isaac.Bejide@raecafrica.com</a> +234 807 022 4772</small>
    </div>
  </div>
</footer>