

<style>
  .connected
    {
       border: 1px solid #000;
       list-style-type: none;
       padding: 0.5rem;
    }
  </style>

  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="menuItemsModal" aria-labelledby="scoringModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scoringModalLabel">Edit EnhanceX App Navigation Items</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-center">Personalize your nav bar for this app. Reorder items, and rename or remove items you've added</div>
                  <div class="row col-sm-12">
                    <div class="col-sm">
                      NAVIGATION ITEMS ()
                    </div>
                    <div class="col-sm pull-right">
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal">Add More Items</button>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="save_changes" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>




  <ul id="myTab" class="navbar-nav">
    <li class="nav-item active"><a href="{% url 'Fit4:home' %}" class="nav-link"><b>Home</b></a></li>
    <li class="nav-item"><a href="{% url 'Fit4:workstream_List' %}" class="nav-link"><b>Workstreams</b></a></li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{% url 'Fit4:initiatives_list' %}" data-bs-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><b>Initiatives</b></a>
      <ul class="dropdown-menu connected">
        <li><a class="dropdown-item" href="{% url 'Fit4:initiatives_list' %}" class="nav-link">Initiatives</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#optionModal" class="nav-link">+ New Initiative</a></li>
        <hr>
        <li><b>Recent Records</b></li>
        {% for o in Top5 %} <!-- Making functions global in Django. Check on your ChatGpt -->
          <li><a class="dropdown-item"  href="{% url 'Fit4:initiative_details' o.slug %}" class="nav-link">{{o.initiative_name}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="nav-item"><a href="{% url 'reports:home_report' %}" class="nav-link"><b>Reports</b></a></li>
    <li class="nav-item"><a href="{% url 'dashboard:home_dashboard' %}" class="nav-link"><b>Dashboards</b></a></li>
    <li class="nav-item"><a href="{% url 'dashboard:dashboards_mto' %}" class="nav-link"><b>MTO Dashboard</b></a></li>

    {% comment %}<li class="nav-item dropdown"> 
      <a class="nav-link dropdown-toggle" href="{% url 'dashboard:home_dashboard' %}" data-bs-toggle="dropdown"><b>Dashboards</b></a>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="{% url 'dashboard:home_dashboard' %}" class="nav-link"><b>Dashboards</b></a></li>
        <li class="dropdown-item"><a href="{% url 'dashboard:home_dashboard' %}" class="nav-link"><b>Plotly-Dash Dashboard</b></a></li>
      </ul>
    </li> {% endcomment %}

    <li class="nav-item"><a href="{% url 'dashboard:management_report' %}" class="nav-link"><b>Management Report</b></a></li>

    {% if request.user.is_staff and request.user.is_superuser %}
      <li class="nav-item"><a href="{% url 'Fit4:FCF_Multiplier_list' %}" class="nav-link"><b>FCF Calculator</b></a></li>
      <li class="nav-item"><a href="/en/secretadmin/" class="nav-link"><b>Site Administration</b></a></li>
      <li class="nav-item"><a href="{% url 'Fit4:banner_list' %}" class="nav-link"><b>Announcement</b></a></li>
    {% endif %}
  </ul>
  
  <span class="flex-grow-1"></span>
  <ul class="dropdown pull-right">
    <button class="btn btn-secondary border border-2 border-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">More</button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        {% if request.user.is_staff or request.user.is_superuser %}
          <li><a class="dropdown-item" href="{% url 'account:user_list' %}">People</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'account:change_password' %}">Reset Password</a></li>
        <li><a class="dropdown-item" href="{% url 'Fit4:units' %}">MTO - Units Management</a></li>
        <li><a class="dropdown-item" href="{% url 'Fit4:actions_list' %}">Initiative Actions</a></li>
        <li><a class="dropdown-item" href="{% url 'Fit4:pending_approval' %}">Pending Approval</a></li>
        <li><a class="dropdown-item" href="{% url 'Fit4:recycleBin' %}">My Recycle Bin | Recycle Bin</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal">Approval Requests</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ownerModal">Cadences</a></li>
        <li><a class="dropdown-item" href="{% url 'pdf2pptxsite:convert_to_pptx' %}">Convert PDF to PowerPoint</a></li>
    </ul>
  </ul>
  {% comment %} <ul class="navbar-nav ml-4">
    <li><a type="button" data-bs-toggle="modal" data-bs-target="#"><i class="fa fa-pencil fa-fw"></i></a></li>
  </ul> {% endcomment %}
