{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% comment %} {% block css %}
{% endblock %}

{% block body %} {% endcomment %}
    
<div class="shadow p-3 mb-2 bg-body rounded">
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.initiative_name.id_for_label }}" class="form-label">Initiative Name*:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.initiative_name class="form-control required" placeholder="" %}
            </div>
            <div class="invalid-feedback">{{ initiativeThreatForm.initiative_name.errors|first }}</div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.overall_status.id_for_label }}" class="form-label">Overrall Status*:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.overall_status class="select form-select required" placeholder="" %}
            </div>
            <div class="invalid-feedback">{{ initiativeThreatForm.overall_status.errors|first }}</div>
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.Workstream.id_for_label }}" class="form-label">Workstream*:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.Workstream class="select form-select required" placeholder="" %}
            </div>
            <div class="invalid-feedback">{{ initiativeThreatForm.Workstream.errors|first }}</div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.actual_Lgate.id_for_label }}"  class="form-label">Initial L-Gate*:</label>
            </div>
            <div class="col-sm-12">
                <select name="actualLGate" id="actualLGate" class="form-select mb-2" required>
                    <option value="" disabled selected>---------</option>
                    <option value="1">G0 Idea</option>
                    <option value="2">G1 Identify</option>
                </select>
                {% comment %} {% render_field initiativeThreatForm.actual_Lgate class="select form-select required" placeholder="" %} {% endcomment %}
            </div>
            {% comment %} <div class="invalid-feedback">{{ initiativeThreatForm.actual_Lgate.errors|first }}</div> {% endcomment %}
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-sm-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.infrastructureCategory.id_for_label }}" class="form-label">Infrastructure Category:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.infrastructureCategory class="select form-select required" placeholder="" %}
            </div>
            <div class="invalid-feedback">{{ initiativeThreatForm.infrastructureCategory.errors|first }}</div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.unit.id_for_label }}"  class="form-label">Unit:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.unit class="select form-select required" placeholder="" %}
            </div>
            <div class="invalid-feedback">{{ initiativeThreatForm.unit.errors|first }}</div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-sm-6">
            
        </div>
        <div class="col-md-6">
            <div class="col-sm-12">
                <label for="{{ initiativeThreatForm.mark_as_confidential.id_for_label }}" class="form-label">Mark as Confidential:</label>
            </div>
            <div class="col-sm-12">
                {% render_field initiativeThreatForm.mark_as_confidential class="form-check check" placeholder="" %}
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12">
            <label for="{{ initiativeThreatForm.description.id_for_label }}" class="form-label">Description:</label>
        </div>
        <div class="col-sm-12">
            {% render_field initiativeThreatForm.description class="form-control" id="addThreater" %}
            {% comment %} {{ initiativeThreatForm.description|add_class:"form-control bg-lightyellow mb-3"|attr:"rows:5" }} {% endcomment %}
        </div>
        <div class="invalid-feedback">{{ initiativeThreatForm.description.errors|first }}</div>
    </div>
</div>
{% comment %} {% if initiativeThreatForm.errors %}
    <ul>
        {% for key,value in initiativeThreatForm.errors.items %} 
            <li>{{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    </ul>
{% endif %} {% endcomment %}
