<div class="tab-content ms-2" id="myDeliveryTabContent">
    <div class="tab-pane fade show active" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
        {% include 'management/delivery/deliveryDashboard.html' %}
    </div>
    <div class="tab-pane fade" id="deliverymovement" role="tabpanel" aria-labelledby="delivery-movement-tab">
        {% include 'management/delivery/deliveryMovement.html' %}
    </div>
    <div class="tab-pane fade" id="deliverybankingplan" role="tabpanel" aria-labelledby="delivery-banking-tab">
        {% include 'management/delivery/deliveryMonthlyBankingPlan.html' %}
    </div>

    <div class="tab-pane fade" id="deliveryPerformance" role="tabpanel" aria-labelledby="delivery-banking-tab">
        {% include 'management/delivery/deliveryInitiativePerformance.html' %}
    </div>
</div>

<ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery" type="button" role="tab" aria-controls="delivery" aria-selected="true">
            <b>Delivery Dashboards</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delivery-movement-tab" data-bs-toggle="tab" data-bs-target="#deliverymovement" type="button" role="tab" aria-controls="deliverymovement" aria-selected="false">
            <b>Delivery Movement</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delivery-banking-tab" data-bs-toggle="tab" data-bs-target="#deliverybankingplan" type="button" role="tab" aria-controls="deliverybankingplan" aria-selected="false">
            <b>Monthly Banking Plan</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="delivery-performance-tab" data-bs-toggle="tab" data-bs-target="#deliveryPerformance" type="button" role="tab" aria-controls="deliveryPerformance" aria-selected="false">
            <b>Initiatives Performance</b>
        </button>
    </li>
</ul>