{% load humanize %}

<form action="{% url 'dashboard:upload_excel' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="weeklyCommitmentModal" tabindex="-1" aria-labelledby="weeklyCommitmentModalLabel" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="weeklyCommitmentModalLabel">Upload Weekly Commitments</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ formUploadWeeklyCommitments.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="container-fluid p-2" style="background:#038C3E">
  <!-- Row 1: Header and KPIs -->
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-1">
            <div class="card col-md g-1 mb-1">
                <div class="card-header">
                    {% if request.user.is_staff %}
                        <a type="button" data-bs-toggle="modal" data-bs-target="#deliveryTargetModal" title="Click to update delivery Target for the current Year"><b>Delivery Target</b></a>
                    {% else %}
                        <b>Delivery Target</b>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h3 class="text-center">$100M</h3>
                </div>
            </div>

            <div class="card col-md mb-1">
                <div class="card-header">
                    <h6>Banked YTD</h6>
                </div>
                <div class="card-body">
                    <h3 class="text-success text-center">${{BankedYTD}}M</h3>
                </div>
            </div>

            {% comment %} <div class="card col-md mb-1">
                <div class="card-header">
                    <h6>Workstream</h6>
                </div>
                <div class="card-body">
                    <select id="functionFilter" class="form-select mb-2">
                        <option value="">All</option>
                        {% for o in xfunctions %}
                            <option value="{{o.id}}" {% if request.GET.functionFilter == o.id|stringformat:"s" %}selected{% endif %}>{{ o.workstreamname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="card col-md mb-1">
                <div class="card-header">
                    <h6 class="small">Report Week</h6>
                </div>
                <div class="card-body">
                    <select name="reportWeek" id="reportWeekSelect" class="form-select mb-2">
                        {% for week in oWeeks %}
                            <option value="{{week}}" {% if week == request.GET.reportWeek|stringformat:"s" %}selected{% endif %}>{{ week }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> {% endcomment %}
        
            <div class="card col-md mb-1">
                <div class="card-header">
                    <h6 class="small">Current Week</h6>
                </div>
                <div class="card-body">
                    <div id="currentWeek"><h1 class="text-center">{{oWeekTW}}</h1></div>
                </div>
            </div>

            <div class="card col-md mb-1">
                <div class="card-header">
                    <h6>Pipeline Robustness</h6>
                </div>
                <div class="card-body">
                    <h5>Target 150%</h5>
                    <h1 class="d-flex justify-content-center align-items-center text-warning mt-3">{{pipeLineRobustness}}%</h1>
                </div>
            </div>
        </div>
        <!-- Column 2 -->
        <div class="col-md-8">
            <div class="row g-1">
                <div class="card col-md-2">
                    <div class="card-header">
                        <h6 title="Initiative Count">Total Initiative Count</h6>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-center" style="height: 100%;">
                        <h1 class="text-center" title="Initiative Count">{{record}}</h1>
                    </div>
                </div>

                <div class="col-md-4"> 
                    <div class="row g-1 mb-2 h-50">
                        <div class="card col-md">
                            <div class="card-header">
                                <h6>Funnel Size</h6>
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">${{FunnelSize}}M</h3>
                            </div>
                        </div>

                        <div class="card col-md">
                            <div class="card-header">
                                <h6>Funnel Growth</h6>
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">${{FunnelGrowth}}M</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row g-1 h-50">
                        <div class="card col-md">
                            <div class="card-header">
                                <h6>Funnel Value Below L3</h6>
                            </div>
                            <div class="card-body">
                                <h3 class="text-center">${{funnelBelowG3}}M</h3>
                            </div>
                        </div>
                        
                        <div class="card col-md">
                            <div class="card-header">
                                <h6>Banked This Week</h6>
                            </div>
                            <div class="card-body">
                                <h3 class="text-success text-center">${{TotalBankedTW}}M</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card col-md-3">
                    <div class="card-header">
                        <h6 title="Initiative Count">Plan YTD Vs Actual</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="planActualChart"></canvas>
                    </div>
                </div>

                <div class="card col-md-3">
                    <div class="card-header">
                        <h6>Banked YTD</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="DeliveryBankedYTDChart"></canvas>
                        {% comment %} {{ chart_labels|json_script:"chart-labels" }}
                        {{ chart_data|json_script:"chart-data" }} {% endcomment %}
                    </div>
                </div>
            </div>

            <div class="mt-1 g-1">
                <div class="card zoom-card col-md-12">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6>Funnel Value by Workstream</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="funnelTargetChart" style="height: 400px;"></canvas>
                    </div>
                </div>

                <div class="row mt-1 g-1">
                    <div class="card zoom-card col-md-6">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6>Initiative Movement to L3+ by Value & Count</h6>
                            {% comment %} <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn><i class="fas fa-expand-arrows-alt"></i></span> {% endcomment %}
                        </div>
                        <div class="card-body">
                            <canvas id="Deliveryl3InitiativeMovementChart"></canvas>
                        </div>
                    </div>

                    <div class="card zoom-card col-md-6 mt-1">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h6>Total Count, L3+ & New Initiative per Workstream</h6>
                            {% comment %} <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn><i class="fas fa-expand-arrows-alt"></i></span>  {% endcomment %}
                        </div>
                        <div class="card-body">
                            <canvas id="DeliveryInitiativeCountChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 g-1">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="DeliveryLgateChart" height="35px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-3">
            <div class="card zoom-card mb-1">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="col-sm">
                        {% if request.user.is_staff %}
                            <a type="button" data-bs-toggle="modal" data-bs-target="#deliveryRecognitionModal" title="Click to update delivery Recognition"><b>Recognition</b></a>
                        {% else %}
                            <b>Recognition</b>
                        {% endif %}
                    </div>
                    <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn><i class="fas fa-expand-arrows-alt"></i></span>
                </div>
                <div class="card-body" style="height: 30vh; overflow-y: auto;">
                    {{deliveryRecognition.recognition|safe}}
                </div>
            </div>
            
            <div class="card zoom-card mb-1" id="topInitiativesCard">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6>Top Initiatives</h6>
                    <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn><i class="fas fa-expand-arrows-alt"></i></span>
                </div>
                <div class="card-body">
                    <div class="table-responsive shadow scroll-container">
                        <table id="deliveryTopInitiatives" class="table table-bordered table-hover table-font">
                            <thead class="table-light" style="position: sticky; top:0; z-index:1";>     
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Initiative Name</th>
                                    <th>Actual Gate</th>
                                    <th>Planned Value</th>
                                    <th>Banked delivery</th>
                                    <th>Benefit Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% comment %} {% for o in topInitiatives|slice:":20" %} {% endcomment %}
                                {% for o in topInitiatives %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{o.initiative_id}}</td>
                                        <td><a href="{% url 'Fit4:initiative_details' o.slug %}">{{o.initiative_name}}</a></td>
                                        <td>{{o.actual_Lgate}}</td>
                                        <td class="text-end">{{o.Yearly_Planned_Value|floatformat:2|intcomma}}</td>
                                        <td>{{o.Yearly_Actual_value|floatformat:2|intcomma}}</td>
                                        <td>{{o.benefittype.title}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card zoom-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6>Commitments</h6>
                    <a href="/media/FileUploads/Weekly Commitments.xlsx" title="Download System Acceptable template here. Ensure you align your data in this format.">Download Template</a>
                    {% if request.user.is_staff %}
                        <a type="button" data-bs-toggle="modal" data-bs-target="#weeklyCommitmentModal" title="Click to upload weekly commitments for the week"><b>Upload Commitments</b></a>
                    {% endif %}
                    <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn><i class="fas fa-expand-arrows-alt"></i></span>
                </div>
                <div class="card-body">
                    <div class="table-responsive shadow scroll-container">
                        <table id="rptTable33" class="table table-bordered table-hover table-font">
                            <thead class="table-light" style="position: sticky; top:0; z-index:1";>     
                                <tr>
                                    <th></th>
                                    <th>Functions</th>
                                    <th>Initiatives </th>
                                    <th>Commitments</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for o in weeklyCommitments %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{o.functions}}</td>
                                        <td>{{o.initiative}}</td>
                                        <td>{{o.commitments}}</td>
                                        <td style="
                                            {% if o.status == 1 %}
                                                background-color: green;
                                                color: white;
                                            {% elif o.status == 0 %}
                                                background-color: red;
                                                color: white;
                                            {% endif %}
                                            font-weight: bold; text-align: center;
                                        "></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row 4: Funnel Stage Summary -->
    <div class="row mb-2 mt-2 text-light">
        <div class="col-sm-10 text-end">
            <b>Dashboard Last Updated</b>
        </div>
        <div class="col-sm-2">
            <b>{{LastUpdated|date:'d-M-Y H:i'}}</b>
        </div>
    </div>
</div>

<script>
  const table = document.getElementById("deliveryTopInitiatives");
  const rows = table.querySelectorAll("tbody tr");

  // Step 1: Collect values from column index 1 (Name column)
  const names = Array.from(rows).map(row => row.cells[1].textContent.trim());

  // Step 2: Count occurrences
  const counts = {};
  names.forEach(name => {
    counts[name] = (counts[name] || 0) + 1;
  });

  // Step 3: Highlight cells with duplicates
  rows.forEach(row => {
    const nameCell = row.cells[1];
    if (counts[nameCell.textContent.trim()] > 1) {
      nameCell.style.color = "red";
      // Or highlight entire row:
      // row.style.backgroundColor = "#f8d7da";
    }
  });
</script>

{% comment %} <script>
    document.querySelectorAll('[data-zoom-btn]').forEach(btn => {
        btn.addEventListener('click', function () {
            const card = this.closest('.zoom-card');
            card.classList.toggle('zoomed');
        });
    });
</script>


<script>
  $('#reportWeekSelect').change(function () {
    const week = $(this).val();

    $.ajax({
      url: "{% url 'dashboard:get_delivery_week_data' %}",
      data: { week: week },
      success: function (data) {
        $('#currentWeek').text(data.current_week);
        //$('#funnelSize').text(`$${data.funnel_size}M`);
      },
      error: function () {
        alert("Failed to load week data.");
      }
    });
  });
</script> {% endcomment %}
