 {% load humanize %}
 
 <div class="row col-md-12">
    <div class="card zoom-card col-md-6">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6>Initiatives Fully Banked</h6>
            <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn>
                <i class="fas fa-expand-arrows-alt"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="table-responsive shadow scroll-container">
                <table id="rptTableNoExport" class="table table-bordered table-hover table-font">
                    <thead class="table-light" style="position: sticky; top:0; z-index:1";>     
                        <tr>
                            <th></th>
                            <th>Functions</th>
                            <th>Initiative Name</th>
                            <th>Actual Gate</th>
                            <th>Forecast Value($)</th>
                            <th>Banked Value($)</th>
                            <th>Performance(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in fullybankedVsForecastInitiatives %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                 <td>{{o.functions}}</td>
                                <td><a href="{% url 'Fit4:initiative_details' o.slug %}">{{o.initiative_name}}</a></td>
                                <td>{{o.actual_Lgate}}</td>
                                <td class="text-end">{{o.Yearly_Forecast_Value|floatformat:2|intcomma}}</td>
                                <td class="text-end">{{o.Yearly_Actual_value|floatformat:2|intcomma}}</td>
                                <td style="
                                    {% if o.achievement_pct >= 50 %}
                                        background-color: green;
                                        color: white;
                                    {% elif o.achievement_pct < 50 %}
                                        background-color: red;
                                        color: white;
                                    {% endif %}
                                    font-weight: bold; text-align: center;
                                ">
                                    {{o.achievement_pct|floatformat:1}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr>
                            <th colspan="4" class="text-end">Total</th>
                            <th class="text-end">${{ fullybanked_total_forecast|floatformat:2|intcomma }}</th>
                            <th class="text-end">${{ fullybankedVsForecast_total_actual|floatformat:2|intcomma }}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="card zoom-card col-md-6">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6>Initiatives Not Fully Banked</h6>
            <span class="zoom-toggle-icon" title="Zoom" data-zoom-btn>
                <i class="fas fa-expand-arrows-alt"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="table-responsive shadow scroll-container">
                <table id="rptTableNoExport" class="table table-bordered table-hover table-font">
                    <thead class="table-light" style="position: sticky; top:0; z-index:1";>     
                        <tr>
                            <th></th>
                            <th>Functions</th>
                            <th>Initiative Name</th>
                            <th>Actual Gate</th>
                            <th>Forecast Value($)</th>
                            <th>Banked Value($)</th>
                            <th>Performance(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in notFullybankedVsForecastInitiatives %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{o.functions}}</td>
                                <td><a href="{% url 'Fit4:initiative_details' o.slug %}">{{o.initiative_name}}</a></td>
                                <td>{{o.actual_Lgate}}</td>
                                <td class="text-end">{{o.Yearly_Forecast_Value|floatformat:2|intcomma}}</td>
                                <td class="text-end">{{o.Yearly_Actual_value|floatformat:2|intcomma}}</td>
                                <td style="
                                    {% if o.achievement_pct >= 50 %}
                                        background-color: green;
                                        color: white;
                                    {% elif o.achievement_pct < 50 %}
                                        background-color: red;
                                        color: white;
                                    {% endif %}
                                    font-weight: bold; text-align: center;
                                ">
                                    {{o.achievement_pct|floatformat:1}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="table-light">
                        <tr>
                            <th colspan="4" class="text-end">Total</th>
                            <th class="text-end">${{ notFullybanked_total_forecast|floatformat:2|intcomma }}</th>
                            <th class="text-end">${{ notFullybankedVsForecast_total_actual|floatformat:2|intcomma }}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>