

<div class="tab-content ms-2" id="myTabContent">
    <div class="tab-pane fade show active" id="Opex" role="tabpanel" aria-labelledby="opex-tab">
        {% include 'management/opex/opexDashboard.html' %}
    </div>
    <div class="tab-pane fade" id="movement" role="tabpanel" aria-labelledby="movement-tab">
        {% include 'management/opex/opexMovement.html' %}
    </div>
    <div class="tab-pane fade" id="bankingplan" role="tabpanel" aria-labelledby="banking-tab">
        {% include 'management/opex/opexMonthlyBankingPlan.html' %}
    </div>

    <div class="tab-pane fade" id="opexPerformance" role="tabpanel" aria-labelledby="opex-performance-tab">
        {% include 'management/opex/opexInitiativePerformance.html' %}
    </div>
</div>

<ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="opex-tab" data-bs-toggle="tab" data-bs-target="#Opex" type="button" role="tab" aria-controls="Opex" aria-selected="true">
            <b>Opex Dashboards</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="movement-tab" data-bs-toggle="tab" data-bs-target="#movement" type="button" role="tab" aria-controls="movement" aria-selected="false">
            <b>Opex Movement</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="banking-tab" data-bs-toggle="tab" data-bs-target="#bankingplan" type="button" role="tab" aria-controls="bankingplan" aria-selected="false">
            <b>Monthly Banking Plan</b>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="opex-performance-tab" data-bs-toggle="tab" data-bs-target="#opexPerformance" type="button" role="tab" aria-controls="opexPerformance" aria-selected="false">
            <b>Initiatives Performance</b>
        </button>
    </li>
</ul>