{% extends "base.html" %}

{% block body %}
    <div class="container-fluid">
        {% comment %} <form method="get" class="mb-3">
            <input type="text" name="q" placeholder="Search by username" class="form-control" value="{{ request.GET.q }}">
        </form> {% endcomment %}

        <div class="card mb-3">
            <div class="card-header">
                <div class="col-sm"><h5>Users List</h5></div>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="{% url 'account:register' %}">Add User</a>
                <hr>
                <div class="table-responsive shadow" style="height: 70vh">
                {% comment %} <div class="table-responsive shadow" style="height: 70vh; overflow-y: auto;"> {% endcomment %}
                    <table id="rptTable" class="table table-bordered table-hover">
                        <thead class="table-light" style="position: sticky; top:0; z-index:1; font-size: 13px;">
                            <tr>
                                <th></th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                            {% for user in users %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'account:user_detailed' user.id %}">{{ user.username }}</a></td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.is_active }}</td>
                                    <td>
                                        <a class="btn btn-sm btn-warning" href="{% url 'account:edit_user' user.pk %}">Edit</a>
                                        <a class="btn btn-sm btn-info" href="{% url 'account:manage_user_permissions' user.pk %}">Permissions</a>
                                        <a class="btn btn-sm {% if user.is_active %} btn-outline-danger {% else %} btn-outline-success {% endif %}"
                                            href="{% url 'account:toggle_user_active' user.pk %}">
                                            {% if user.is_active %} Deactivate {% else %} Activate {% endif %}
                                            {% comment %} {{ 'Deactivate' {% if user.is_active %} {% else %} 'Activate' {% endif %} }} {% endcomment %}
                                        </a>
                                        <a class="btn btn-sm btn-secondary" href="{% url 'account:change_user_password' user.pk %}">Password</a> 
                                        
                                        <form id="deleteForm-{{ user.pk }}" method="post" action="{% url 'account:delete_user' user.pk %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete('{{ user.pk }}')">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% comment %} <nav>
                    <ul class="pagination">
                        {% if users.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}&q={{ request.GET.q }}">Previous</a></li>
                        {% endif %}
                        <li class="page-item disabled"><span class="page-link">Page {{ users.number }} of {{ users.paginator.num_pages }}</span></li>
                        {% if users.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ users.next_page_number }}&q={{ request.GET.q }}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav> {% endcomment %}
            </div>
        </div><br><br><br>

       
    </div>
{% endblock %}

{% block js %}
    <script>
        function confirmDelete(userId) {
            Swal.fire({
                title: 'Are you sure?',
                text: "This user will be permanently deleted!",
                //icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('deleteForm-' + userId).submit();
                }
            });
        }
    </script>
{% endblock %}