{% extends "base.html" %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}{{oUser.first_name}}  {{oUser.last_name}} | Renaissance {% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<div class="card mb-3">
    <div class="card-body">
        <small><b>User</b></small>
        <h5>{{oUser.first_name}} {{oUser.last_name}}</h5>
        <div class="card">
            <div class="card-header">
                <div class="row col-sm-12">
                    <div class="col-sm">
                        <b>User Detail</b>
                    </div>
                    <div class="col-sm">
                        {% if request.user.is_superuser or request.user.is_staff %}
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-light border border-2 border-secondary">Edit</button>
                                <button type="button" class="btn btn-light border border-2 border-secondary">Sharing</button>
                                <button type="button" class="btn btn-light border border-2 border-secondary">Reset Password</button>
                                <button type="button" class="btn btn-light border border-2 border-secondary"><a href="{% url 'account:login_as' oUser.username %}">Login</a></button>
                                <button type="button" class="btn btn-light border border-2 border-secondary">View Summary</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <td>{{oUser.first_name}} {{oUser.last_name}}</td>
                    </tr>
                    <tr>
                        <th>User Id</th>
                        <td>{{oUser.username}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{oUser.email}}</td>
                    </tr>
                    <tr>
                        <th>Date Registered</th>
                        <td>{{oUser.date_joined}}</td>
                    </tr>
                    <tr>
                        <th>Last Login</th>
                        <td>{{oUser.last_login}}</td>
                    </tr>
                    <tr>
                        <th>Is Super User</th>
                        <td><input type="checkbox" id="superuser" {% if oUser.is_superuser %} checked {% endif %} /></td>  
                    </tr>
                    <tr>
                        <th>Is Active</th>
                        <td><input type="checkbox" id="active" {% if oUser.is_active %} checked {% endif %} /></td>
                    </tr>
                    <tr>
                        <th>Is Staff</th>
                        <td><input type="checkbox" id="active" {% if oUser.is_staff %} checked {% endif %} /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>  

<div class="card col-sm-12" style="height: 50vh; overflow-y: auto;">
    <div class="card-header">
        <b>Login History</b>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Login Time</th>
                <th>Source IP</th>
                <th>Login Type</th>
                <th>Login Subtype</th>
                <th>Status</th>
                <th>Application</th>
                <th>Login URL</th>
                <th>Experience</th>
                <th>Location</th>
                <th>OS</th>
            </tr>
            {% for o in obj %}
            <tr>
                <td>{{o.timestamp}}</td>
                <td>{{o.remote_addr}}</td>
                <td></td>
                <td></td>
                <td>{{o.browser}}</td>
                <td>{{o.device}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{o.os}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br><br><br>

{% endblock %}


{% block js %}
{% endblock %}


{% if initiative.errors %}
    <ul>
        {% for key,value in initiative.errors.items %} 
            <li>{{ key|escape }} : {{ value|escape }}</li>
        {% endfor %}
    </ul>
{% endif %}