{% load static %}
{% load table_tags %}
{% load i18n %}
{% load humanize %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

<div class="card">
    <div class="card-body">
        <div class="col-sm-12">
            <table class="cell-border table" style="font-size: 0.9rem;">
                <thead>
                    <tr>
                        <th style="width:50%">Guide Line (Please Read)</th>
                        <th style="width:50%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-justify border rounded p-3" style="border: 2px solid #dee2e6;">
                            <b>Note:</b> The FCF Calculator is designed to help you calculate the Free Cash Flow (FCF) for various categories based on the factors provided.<br><br>
                            This calculator helps you quickly compute the Renaissance Share FCF value for your initiatives.<br>
                            <b>Please follow the steps to carry out your calculation:</b><br>
                            <b>1.</b> Determine if your initiative will be saving cost or increasing Production<br>
                            <b>2.</b> Use Table 1 for Savings and Table 2 for Production<br><hr>
                            <b>3a.</b> For Savings <b>(Table 1)</b>, use the first drop down to select the Asset<br>
                            <b>3b.</b> Use the second drop down to select <b>Opex (including Feasex and Expex)/Capex</b><br>
                            <b>3c.</b> Then, enter the Savings value (100%) and Implementation cost in the  <b style="color: green;">green cells</b><br>
                            <b>3d.</b> Read off the FCF values in the <b style="color: orange;">orange cells</b><br><hr>
                            <b>4a.</b> For Production <b>(Table 2)</b>, Use the first drop down to select the Asset<br>
                            <b>4b.</b> Use the second drop down to select <b>Oil/Domgas/Export gas</b><br>
                            <b>4c.</b> Then, enter the production value, no of days the production target was met in current year and Implementation cost in the <b style="color: green;">green cells</b><br>
                            <b>4d.</b> Read off the FCF values in the <b style="color: orange;">orange cells</b>
                        </td>
                        <td>
                            <div class="d-flex flex-column">
                                <div><b>Table 1</b></div>
                                <table class="table table-bordered w-100" style="border: 1px solid #dee2e6;">
                                    <thead>
                                        <tr style="background-color: #dee2e6;">
                                            <th>Opex/Capex FCF ('000 USD)</th>
                                            <th>Factor</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:50%;">
                                                <select class="asset-dropdown select form-select">
                                                    <option>--Select Asset--</option>
                                                    {% for o in assets %}
                                                        <option value="{{ o.asset }}">{{ o.asset }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td style="width:20%;">
                                                <input class="renaissance-share form-control" readonly>
                                            </td>
                                            <td style="width:30%; background-color: #068622ff;">
                                                <input type="number" id="savingsValue" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Implementation Cost ('000 USD)</td>
                                            <td></td>
                                            <td style="background-color: #068622ff;">
                                                <input type="number" id="implementationCost" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select id="savingsSelect" class="select form-select">
                                                    <option>--Savings Factor--</option>
                                                    {% for o in savings %}
                                                        <option value="{{ o.name }}">{{ o.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input id="dummy-factor1" class="form-control" style="display:block;" readonly>
                                                <div id="capexInput" style="display:none;">
                                                    <input class="capex-factor form-control" id="capexFactor" style="border: 2px solid green;" readonly>
                                                </div>

                                                <div id="opexInput" style="display:none;">
                                                    <input class="opex-factor form-control" id="opexFactor" style="border: 2px solid orange;" readonly>
                                                </div>
                                                
                                            </td>
                                            <td class="bg-warning text-end"><span id="savingsResult" class="fw-bold"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div><b>Table 2</b></div>
                                <table class="table table-bordered w-100" style="border: 1px solid #dee2e6;">
                                    <thead>
                                        <tr style="background-color: #dee2e6;">
                                            <td><b>Production FCF ('000 USD)</b></td>
                                            <th>Factor</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width:50%;">
                                                <select class="asset-dropdown select form-select">
                                                    <option>--Select Asset--</option>
                                                    {% for o in assets %}
                                                        <option value="{{ o.asset}}">{{ o.asset }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td style="width:20%;">
                                                <input class="renaissance-share form-control" id="renProductionShare" readonly>
                                            </td>
                                            <td style="width:30%; background-color: #068622ff;">
                                                <input type="number" id="productionValue" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Production Days (nr)</td>
                                            <td><input type="number" id="renShare" class="form-control" readonly/></td>
                                            <td style="background-color: #068622ff;">
                                                <input type="number" id="productionDays" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Implementation Cost ('000 USD)</td>
                                            <td><input type="number" id="prodOpexFactor" class="form-control" readonly/></td>
                                            <td style="background-color: #068622ff;">
                                                <input type="number" id="productionCost" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select id="productionSelect" class="select form-select">
                                                    <option>--Production Factor--</option>
                                                    {% for o in production_fcf %}
                                                        <option value="{{ o.name }}">{{ o.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input id="dummy-factor2" class="form-control" style="display:block;" readonly>
                                                <div id="oilFactorInput" style="display:none;">
                                                    <input class="oil-factor form-control" id="oilFactor" style="border: 2px solid green;" readonly>
                                                </div>

                                                <div id="domgasFactorInput" style="display:none;">
                                                    <input class="domgas-factor form-control" id="domgasFactor" style="border: 2px solid orange;" readonly>
                                                </div>

                                                <div id="exportGasFactorInput" style="display:none;">
                                                    <input class="export-gas-factor form-control" id="exportGasFactor" style="border: 2px solid red;" readonly>
                                                </div>
                                            </td>
                                            <td class="bg-warning text-end">
                                                <span id="productionResult" class="fw-bold"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <div class="alert alert-info mt-2">Note: For initiatives not related to cost savings/production, contact your finance advisor or the PMO for support</div>
            </div>
        </div>
    </div>
</div>