{% load widget_tweaks %}
{% load crispy_forms_tags %}

    <div class="p-3 mb-1 bg-body rounded">
        <fieldset class="border p-3 mb-2">
            <legend class="mb-3 azm-color-444"><small>Information</small></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <label for="{{ form.YYear.id_for_label }}" class="form-label">Multiplier Name*:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.name class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.name.errors|first }}</div>
                    </div>

                    <div class="col-sm-12">
                        <label for="{{ form.YYear.id_for_label }}" class="form-label">Year*:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.YYear class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.YYear.errors|first }}</div>
                    </div>
                    
                    <div class="col-sm-12">
                        <label for="{{ form.benefittype.id_for_label }}" class="form-label">Benefit Type*:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.benefittype class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.benefittype.errors|first }}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-2">
            <legend class="mb-3 azm-color-444"><small>Volume Multiplier</small></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <label class="form-label">Planned Volume Multiplier:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.planned_volume_multiplier class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.planned_volume_multiplier.errors|first }}</div>
                    </div>
                    
                    <div class="col-sm-12">
                        <label class="form-label">Forecast Volume Multiplier:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.forecast_volume_multiplier class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.forecast_volume_multiplier.errors|first }}</div>
                    </div>

                    <div class="col-sm-12">
                        <label class="form-label">Actual Volume Multiplier:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.actual_volume_multiplier class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.actual_volume_multiplier.errors|first }}</div>
                    </div>
                </div>
            </div>
        </fieldset>
        
        <fieldset class="border p-3 mb-2">
            <legend class="mb-3 azm-color-444"><small>FCF Multiplier</small></legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <label class="form-label">FCF Multiplier:</label>
                    </div>
                    <div class="col-sm-12">
                        {% render_field form.fcf_multiplier class="form-control required" placeholder="" %}
                        <div class="invalid-feedback">{{ form.fcf_multiplier.errors|first }}</div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    {% comment %} {% if form.errors %}
        <ul>
            {% for key,value in form.errors.items %} 
                <li>{{ key|escape }} : {{ value|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endcomment %}
