{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load table_tags %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %} Dashboards {% endblock %}

{% block body %}

    <h1>Embedded Tableau Dashboard</h1>
    <div id="tableauViz"></div>

    <script>
        var containerDiv = document.getElementById("tableauViz"),
            url = "https://public.tableau.com/views/YourDashboard/DashboardName",
            options = {
                width: "100%",
                height: "600px",
                hideTabs: true,
                hideToolbar: false
            };

        var viz = new tableau.Viz(containerDiv, url, options);
    </script>

    
    {% endblock %}

    {% block js %}
    
    {% endblock %}